<style type="text/css">
body {font-family: Arial;}

/* Style the tab */
.tab_[id] {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab_[id] button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab_[id] button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_[id] button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent_[id] {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

body {
  background-color: #abc;
}

tr:hover {background-color: coral;}

th {
  background-color: #04AA6D;
  color: white;
}

</style>

<div class="tab_[id]">
  [button]
</div>

[div_tab]

<script>
function open_tab_[id](evt, tab_name) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent_[id]");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks_[id]");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tab_name).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen_[id]").click();
</script>

